{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{% static 'css/tailwind.css' %}" rel="stylesheet" />
        <link href="{% static 'css/output.css' %}" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
            rel="stylesheet"
        />

        <title>{% block title %}Summer Cloud{% endblock %}</title>
    </head>
    <body
        class="bg-gradient-to-r from-blue-400 to-blue-600 h-screen w-screen flex flex-col"
    >
        <header
            class="bg-gray-50 shadow px-4 lg:px-6 h-14 flex items-center border-b"
        >
            <a
                class="flex items-center justify-center gap-1"
                href="{% url 'user_files' %}"
            >
                <span class="material-symbols-outlined text-blue-500">
                    partly_cloudy_day
                </span>
                <h1 class="text-blue-500 text-xl font-bold">Summer Cloud</h1>
            </a>

            <nav class="ml-auto flex items-center gap-4 sm:gap-6 font-semibold">
                <ul class="flex space-x-4">
                    <li>
                        <a
                            href="{% url 'user_files' %}"
                            class="text-blue-500 hover:text-blue-700"
                            >My Drive</a
                        >
                    </li>
                    <li>
                        <a
                            href="{% url 'profile' %}"
                            class="text-blue-500 hover:text-blue-700"
                            >Profile</a
                        >
                    </li>
                    <li>
                        <a
                            href="{% url 'custom_logout' %}"
                            class="text-blue-500 hover:text-blue-700"
                            >Sign Out</a
                        >
                    </li>
                </ul>
            </nav>
        </header>

        <main class="flex-grow p-6">{% block content %} {% endblock %}</main>

        <footer class="bg-gray-50 p-4 text-center">
            <p>&copy; 2024 - Summer Cloud Inc</p>
        </footer>
    </body>
</html>
