db.sqlite3
/venv
.env

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/
staticfiles/

### Node ###
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
yarn.lock
