{% extends 'base.html' %} {% block content %}
<h2>Uploader un fichier</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Téléverser</button>
</form>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const messages = document.querySelectorAll('.messages li');
            messages.forEach(function(message) {
                alert(message.textContent);
            });
            // enlève les messages une fois que l'on a cliqué sur ok
            document.querySelector('.messages').remove();
        });
    </script>
{% endif %}
{% endblock %}
